body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto;
}

#container {
  background-color: #F5F5F5;
	box-shadow: : 0 0 3px rgba(0, 0, 0, 0.1);
	margin: 100px auto;
	width: 360px;
}

h1 {
  background-color: #904e95;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

.fas {
  float: right;
}

input {
  background-color: #F5F5F5;
  border: 3px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #904e95;
  display: none;
  font-size: 18px;
  padding: 13px;
  width: 100%;
}

input:focus {
  background-color: #fff;
  border: 3px solid #904e95;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  color: #904e95;
  height: 40px;
  line-height: 40px;
  padding-left: 13px;
}

li:nth-child(2n) {
  background-color: #F5F5F5;
}

span {
  box-sizing: border-box;
  color: #e96443;
  display: inline-block;
  float: right;
  height: 40px;
  opacity: 0;
  padding: 13px 12px;
  text-align: center;
  transition: .2s linear;
  visibility: hidden;
  width: 40px;
}

li:hover span {
  visibility: visible;
  opacity: 1;
  width: 40px;
}

.completed {
  color: #808080;
  text-decoration: line-through;
}